@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;1,400&display=swap');

h1,h2,h3,h4,h5,h6{
    font-family: 'Montserrat', sans-serif;
}

span{
    font-family: 'Montserrat', sans-serif;
}

p{
    font-family: 'Montserrat', sans-serif;
}

a{
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

/*--debut sidebar--*/
ul, #myUL {
    list-style-type: none;
  }
  
  #myUL {
    margin: 0;
    padding: 0;
  }
  
  .caret {
    cursor: pointer;
    margin-left: 6px;
  }
  
  .caret::before {
    color: black;
    display: inline-block;
    margin-right: 6px;
  }
  
  .caret-down::before {
    transform: rotate(90deg);
  }
  
  .nested {
    display: none;
  }
  
  .active {
    display: block;
  }
  /*--fin sidebar--*/

  .logo {
      width: 50px;
  }